@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200..900');

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  overflow-y: overlay;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
}
