@tailwind base;
@tailwind components;
@tailwind utilities;

@import './variables.scss';
@import './darkTheme.scss';
@import './lightTheme.scss';
@import './switchTheme.scss';
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&family=Montserrat&display=swap');

body {
  font-family: var(--font-family);
  font-size: 1.6rem;
  line-height: 1.5;
  text-rendering: optimizespeed;
  overflow-y: overlay;
  background-color: var(--background-color);
  color: var(--color);
  transition: background 0.2s linear;
}

button,
input,
[tabindex] {
  outline: none;
  border: none;
}

a[href] {
  text-decoration: none;
}
